* {
	margin: 0;
	
}

.container {
	width: 100vw;
	height: 93svh;
	background: white;
	display: flex;
	overflow-x: scroll !important;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	overflow: hidden;
}
.container div {
	min-width: 93vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10rem;
	scroll-snap-align: center;
}

.content-wrapper {
	height: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	overflow-y: hidden;
}
.content-wrapper h1 {
	font-size: 7rem;
}
.content-wrapper p {
	font-size: 5rem;
}

.page-1 {
	background-color: pink;
}
.page-2 {
	background-color: lightblue;
}
.page-3 {
	background-color: lightgreen;
}
.page-4 {
	background-color: lightyellow;
}

